@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
/* @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap'); */


#root {
    overflow-x: hidden;
    overflow-y: auto;
}

.timetable {
    display: grid;
    grid-template-columns: repeat(13, minmax(0, 1fr));
    grid-template-rows: repeat(15, minmax(0, 1fr));
    gap: 1rem;
    width: 100%;
    height: 1600px;
    background-color: #D1FAE5;
}

.merch-content-grid {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-auto-rows: min-content;
}

/*

!! img size
!! border
!! rearrange the styles in code to avoid confusion	
*/

/*
@layer utilities {
    .grid-cols-auto {
        grid-template-columns: auto;
    }

    .grid-rows-auto {
        grid-template-rows: auto;
    }
}
*/